<nav class="navbar navbar-expand-sm bg-itau navbar-dark">
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lancamento" routerLinkActive="active">Lista Geral </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mes" routerLinkActive="active">Por mês</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categoria" routerLinkActive="active">Por categoria</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>